<?xml version="1.0" encoding="utf-8"?>
    <configuration>
    <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/geekyfaisal/index.json" />
    </packageSources>
    <packageSourceCredentials>
    <github>
    <add key="Username" value="geekyfaisal" />
    <add key="ClearTextPassword" value="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" />
    </github>
    </packageSourceCredentials>
    </configuration>